body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background: #07d3f7;
    color: white;
    padding: 10px 0;
    text-align: center;
}



header .logo img {
    max-width: 500px;
}

nav ul {

    list-style-type: none;
    margin-top: 20px;
    padding: 0;

}

nav ul li {
    display: inline;
    margin-left: 40px;
}

nav ul li a{
    border: 1px solid rgb(0, 0, 0);
    background: rgb(7, 136, 142);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    padding: 20px;
    margin-top: 30px;
    font-weight:bold;
}

.banner {
    background:#f4f4f4;
    padding: 20px;
    text-align: center;
}

.contenido {
    padding: 20px;
}

.contenido articulo img {
    max-width: 100%;
    height: auto;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.redes-sociales img{
    width: 30px;
    margin: 0 10px;
}

p {
    width: 1400px;
    margin: auto;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
}

.Foto_mujer {
    padding-top: ;
    width: 500px;
    height: 400px;
    border: 2px solid rgb(10, 244, 244);
    border-radius: 50%;
    box-shadow: 0 0 40px 10px rgb(0, 159, 233);
}

.foto_trabajadores{
    width: 700px;
    height: 500px;
    border: 2px solid rgb(10, 244, 244);
    box-shadow: 0 0 40px 10px rgb(0, 159, 233);
}

